body {
	container: body / inline-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 73px;
	font-family: 'Fraunces';
	background-color: #2a213c;
	padding: 64px 32px;
	overflow: auto;
}



/* list */

.list {
	display: flex;
	flex-direction: column;
	gap: 29px;
}

.list-text-item1 {
	text-transform: uppercase;
}

.list-text-item2 {
	text-transform: uppercase;
}

.list-text-item3 {
	text-transform: uppercase;
}
/* end list*/


.row1 {
	container: row1 / inline-size;
	position: relative;
	margin-left: -31px;
	width: 100%;
	max-width: 1345px;
}

.container1 {
	container: container1 / inline-size;
	margin: 0 auto;
	max-width: 1536px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}

.container-row-left {
	display: flex;
	align-items: center;
	gap: 24px;
}

.container-img {
	width: 151px;
	flex-shrink: 0;
}

.container-container1 {
	margin-top: -1px;
	width: 441px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	flex-shrink: 0;
	text-align: left;
}

.container-text2 {
	align-self: stretch;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.556;
	letter-spacing: 0px;
}

.container-text3 {
	width: 231px;
	min-height: 46px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.container-container2 {
	margin-bottom: -119px;
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	line-height: 1.071;
	letter-spacing: 1px;
}



/* container */

.container {
	width: 140px;
	display: flex;
	flex-direction: column;
	gap: 31px;
	flex-shrink: 0;
	text-align: left;
}

.container-text {
	text-transform: uppercase;
}
/* end container*/


.container-container3 {
	margin-left: 64px;
	width: 312px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding-right: 172px;
}

.container-heading {
	display: flex;
	flex-direction: column;
	gap: 240px;
}

.container-text-philosophy {
	text-transform: uppercase;
	text-align: left;
}

.container-text-connect-with {
	margin: 0 -173px;
	text-transform: uppercase;
	text-align: right;
}

.list2 {
	margin-top: -224px;
	text-align: left;
}

.container3 {
	margin-left: -108px;
}

.col {
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	color: #2a213c;
	font-size: 12px;
	line-height: normal;
}

.btn-connect-now {
	width: 150px;
	display: flex;
	justify-content: center;
	font-style: italic;
	text-transform: capitalize;
	letter-spacing: 0px;
	text-align: center;
	background-color: #fff;
	padding: 5px 21px;
}

.img {
	flex-shrink: 0;
	align-self: stretch;
}

.row2 {
	position: absolute; top: 301px; left: 981px; 
	display: flex;
	align-items: flex-start;
	gap: 26px;
}



/* circle */

.circle {
	backdrop-filter: blur(50px);
	width: 52px; height: 52px;
	flex-shrink: 0;
	padding: 12px;
	border-radius: 50%;
	overflow: hidden;
}

.circle-group {
	height: 28px;
}
/* end circle*/


.circle-youtube {
	background-color: #f00;
}

.circle-black {
	background-color: #080808;
}

.circle-pink {
	background-color: #c31162;
}

.circle1 {
	background-color: #0076b2;
}

.circle-blue {
	background-color: #3d5a98;
}

.horizontal-border {
	container: horizontal-border / inline-size;
	width: 100%;
	max-width: 1536px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	font-size: 14px;
	padding-top: 31px;
	padding-bottom: 1px;
	border-top: 1px solid rgba(212, 194, 194, 0.1);
}

.horizontal-border-text-container {
	text-align: left;
}

.horizontal-border-container {
	display: flex;
	align-items: flex-start;
	gap: 38px;
	line-height: 1.071;
	letter-spacing: 1px;
}

.horizontal-border-text-link1 {
	text-transform: uppercase;
	text-align: left;
}

.horizontal-border-text-link2 {
	text-transform: uppercase;
	text-align: left;
}

.horizontal-border-text-link3 {
	text-transform: uppercase;
	text-align: left;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 768px) {
	body {
		padding-inline: var(--margin-sm);
	}
	.row1 {
		margin-inline: 0;
	}
	.container1 {
		margin-inline: 0;
	}
	.container-container3 {
		padding-inline: 0;
		margin-inline: 0;
	}
}



/* container queries (flex rows) */

@container row1 (width < 1163px) {
	.container1 {
		flex-direction: column;
		align-items: center;
		gap: 26px;
	}
	.container1 > * {
		margin-top: unset !important;
		text-align: center;
	}
}

@container container1 (width < 615px) {
	.container-row-left {
		flex-direction: column;
		align-items: center;
		gap: 19px;
	}
	.container-row-left > * {
		margin-top: unset !important;
		text-align: center;
	}
	.container-row-left > .container-container1 {
		width: 100%;
		max-width: 441px;
		align-items: center;
	}
}

@container container1 (width < 547px) {
	.container-container2 {
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
	}
	.container-container2 > * {
		margin-left: unset !important; margin-top: unset !important;
	}
	.container-container2 > .container-container3 {
		width: 100%;
		max-width: 312px;
	}
}

@container row1 (width < 363px) {
	.row2 {
		flex-direction: column;
		align-items: center;
		gap: 14px;
	}
}

@container body (width < 971px) {
	.horizontal-border {
		flex-direction: column;
		align-items: center;
		gap: 13px;
	}
	.horizontal-border > * {
		margin-top: unset !important;
		text-align: center;
	}
}

@container horizontal-border (width < 469px) {
	.horizontal-border-container {
		flex-direction: column;
		align-items: center;
		gap: 12px;
	}
	.horizontal-border-container > * {
		margin-top: unset !important;
		text-align: center;
	}
}
